{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Task manager</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
       
    <div class="container mt-5">
        
        
        <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Task Manager</h2>
    <a href="{% url 'add_project' %}" class="btn btn-success">+ Add Project</a>
</div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">priority</th>
                    <th scope="col">due_date</th>
                    <th scope="col">project</th>
                     <th scope="col">status</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for user in users %}
                <tr>
                    <td>{{ user.title }}</td>
                    <td>{{ user.description }}</td>
                    <td>{{ user.priority }}</td>
                    <td>{{ user.due_date }}</td>
                    
                    <td>{{ user.project }}</td>
                
                    <td>
                        <form action="{% url 'edit_task' user.id %}" method="GET">
                            <button type="submit" class="btn btn-sm btn-primary">Edit</button>
                        </form>
                        <form action="{% url 'delete_task' user.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>

                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No users found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
